.main__optionslist {
  margin: 2rem 0;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  background-color: rgba($col-white, 0.3);
  border: 1px solid $col-teal;
  border-radius: 5px;
  color: $col-white;
  font-weight: 500;
  &__optionItem {
    margin: 1rem 0;
    border-radius: 2rem;
  }
}
