@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
//Colors
$col-black: #222831;
$col-grey: #393E46;
$col-teal: #00ADB5;
$col-white: #EEEEEE;

//Font
$font: 'Maven Pro', sans-serif;
